body {
  font: 10px sans-serif;
  background: #F2E3C6;
}
#daySlider{
	position: absolute;
	bottom: 0;
}

.axis line {
  stroke: #000;
 
}

.axis path {
  fill: none;
  stroke: #000;

}

.axis + .axis g text {
  display: none;
}
